.signup-modal-logo {
    width: 3rem;
    position: absolute;
    top: 12px;
    left: 50%;
    transform: translate(-50%);
}

.signup-modal-forms {
    display: flex;
    flex-direction: column;
    height: 54vh;
    width: 32vw;
}

.signup-modal-forms>h2 {
    font-size: 2rem;
}

.signup-modal-forms> :nth-child(2) {
    margin-top: 4vh;
    margin-bottom: 3vh;
}
.signup-modal-forms> :nth-child(4) {
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.signup-modal-buttons-container {
    margin-top: auto;
    display: flex;
    justify-content: center;
    gap: 2vw;
}