/* Color palette for light theme */
:root {
  --maincolor: #FF8C00;
  --background: #EAEAEA;
  --foreground: #1A1A1A;
  --color2: #ECDDD2;
  --color3: #F4D0B5;
  --color4: #FFB87F;
  --color5: #FFA656;
  --color6: #F89946;
  --color7: #E6862D;
  --color8: #D96B00;
  --color9: #C76100;
  --color10: #B55700;
  --color11: #984700;
  --color12: #5C2C00;
  --monochromatic2: #E0E0E0;
  --monochromatic3: #D6D6D6;
  --monochromatic4: #CCC;
  --monochromatic5: #C4C4C4;
  --monochromatic6: #BABABA;
  --monochromatic7: #AFAFAF;
  --monochromatic8: #9B9B9B;
  --monochromatic9: #6E6E6E;
  --monochromatic10: #646464;
  --monochromatic11: #494949;
  --monochromatic12: #202020;
}

/* Color palette for dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --maincolor: #FF8C00;
    --background: #1A1A1A;
    --color2: #241C16;
    --color3: #372313;
    --color4: #4A2502;
    --color5: #562D04;
    --color6: #643A14;
    --color7: #7A4A21;
    --color8: #9C5E29;
    --color9: #9C5E29;
    --color10: #F38100;
    --color11: #FFA353;
    --color12: #FFDFC8;
    --monochromatic2: #212121;
    --monochromatic3: #292929;
    --monochromatic4: #2F2F2F;
    --monochromatic5: #363636;
    --monochromatic6: #3E3E3E;
    --monochromatic7: #4A4A4A;
    --monochromatic8: #616161;
    --monochromatic9: #6E6E6E;
    --monochromatic10: #7B7B7B;
    --monochromatic11: #B4B4B4;
    --monochromatic12: #EEE;
  }
}

/* Typography */
h1 {
  font-size: 3.5rem;
}

h6 {
  font-size: 0.93rem;
}

label,
p {
  color: var(--monochromatic11);
}

/* Styling the input based on the template */
input {
  border: 1px solid var(--monochromatic8);
  background-color: transparent;
  padding: 1.5vh 1.25vw;
  color: var(--monochromatic12);
  font-size: 0.812rem;
  border-radius: 12px;
}
input::placeholder {
  color: var(--monochromatic6);
}

select {
  border: 1px solid var(--monochromatic8);
  background-color: transparent;
  padding: 1.5vh 1.25vw;
  color: var(--monochromatic12);
  font-size: 0.812rem;
  border-radius: 12px;
}
select::placeholder {
  color: var(--monochromatic6);
}

option {
  border: 1px solid var(--monochromatic8);
  background-color: transparent;
  padding: 1.5vh 1.25vw;
  color: var(--monochromatic12);
  font-size: 0.812rem;
  border-radius: 12px;
}

/* Styling the button based on the template */
button {
  border: 0;
  border-radius: 12px;
  padding: 1vh 5vw;
  background-color: var(--maincolor);
  font-size: 1.25rem;
  font-weight: bold;
  cursor: pointer;
  transition:
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;
}

/* Changing button hover color based on color palette */
button:hover {
  background-color: var(--color8);
}

/* Changing button active color based on color palette */
button:active {
  background-color: var(--color7);
}

/* Changing button hover and active color based on color palette for dark theme */
@media (prefers-color-scheme: dark) {
  button:hover {
    background-color: var(--color10);
  }

  button:active {
    background-color: var(--color11);
  }
}

button:disabled {
  filter: grayscale(100%) brightness(70%);
  cursor: auto;
}

/* Changingg the background color, font color, and font family of the project */
body {
  color: var(--monochromatic12);
  background: var(--background);
  font-family: "Inter", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Removing project borders */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Styling a links */
a {
  color: #296AB8;
  text-decoration: none;
  cursor: pointer;
}

/* Switch in case the user uses dark theme to dark theme */
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}